
/**

yellow: #fcfe07;
black: #232323;
white: #ffffff;


**/

*{
	margin: 0;
	padding: 0;
}

html, body{overflow-x: hidden; background: #232323} /*black*/

header{
	width: 100%;
    background: #232323; /*black*/
    padding: 1.4% 2% 1.4% 2%;
    box-shadow: -1px 2px 2px #0000004f;
}
header img{
	width: 95%;
	height: 100%;
	/* box-shadow: 2px 2px 10px #0000004f; */
}
header h1{
	font-family: Nasalization;
	color: white;
	text-align: center;

}

/************************
*/

#content-box1{background-image: url("img/Носки 1.jpg"); }
#content-box2{background-image: url("img/Носки 1.jpg"); }
#content-box3{background-image: url("img/Носки 1.jpg"); }
#content-box4{background-image: url("img/Носки 1.jpg"); }
 
#content-box2 div.p{float: right}
#content-box4 div.p{float: right} 

.content-box {
	margin: 10px 2% 0 2%;
    height: 284px;
    text-align: center;
    box-shadow: 1px 2px 3px #0000009c;
	background-size:cover;
}
.content-box div.p{ float: left; width: 50%;
    /* margin: 2%; */ 
    font-family: Microsoft Tai Le;
	/* padding: 9% 0; */
	width: 64%;
	height: 100%;
	background-color: #fcfe07;
	
    text-indent:3%;
    vertical-align: baseline;
}.content-box div.p p{
	padding: 7% 7%;
    text-align: justify;
    margin-bottom: 1%;
}

.content-box a{
	color: #ffffff;
    background-color: #232323;
    padding: 3% 7%;
    font-size: 1.3em;
    text-decoration: none;
    transition: background 0.5s, box-shadow 0.5s;
    cursor: pointer;
    box-shadow: 1px 1px 3px 0px #000000a1;

}
.content-box a:hover{
	background: #565353;
	box-shadow: -1px -1px 3px 0px #000000a1;;
}

.content-box img{width: 45%;
    margin: 13% 0;}


  /* https://github.com/An-d-r-e-y/KRASAV4K1.git */
